server:
  port: 8001
spring:
  datasource:
    # ShardingSphere 对 Driver 自定义，实现分库分表等隐藏逻辑
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    # ShardingSphere 配置文件路径
    url: jdbc:shardingsphere:classpath:shardingsphere-config.yaml
  data:
    redis:
      host: 127.0.0.1
      port: 6379
  cloud:
    sentinel:
      transport:
        dashboard: localhost:8858
  mvc:
    view:
      prefix: /templates/
      suffix: .html

short-link:
  domain:
    default: 127.0.0.1:8001
  stats:
    locale:
      amap-key: 0a9388a2661cfcd9d944f6cbccbfab60
  goto-domain:
    white-list:
      enable: true
      names: '拿个offer,知乎,掘金,博客园'
      details:
        - nageoffer.com
        - zhihu.com
        - juejin.cn
        - cnblogs.com